aiohttp==3.9.3
algoliasearch-django==3.0.0
async-timeout==4.0.3
daphne==4.1.2
dj-database-url==2.3.0
Django==5.1.2
django-allauth==0.61.1
django-cors-headers==4.3.1
django-phonenumber-field==8.0.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.3.1
eventlet==0.36.1
cloudipsp==1.0.4
ffmpeg-python==0.2.0
gunicorn==23.0.0
librosa==0.10.2.post1
mistralai==0.1.8
moviepy==1.0.3
mysqlclient==2.2.6
nltk==3.9.1
openai-whisper==20240930
opencv-python==4.10.0.84
openpyxl==3.1.4
phonenumbers==8.13.48
pip-chill==1.0.3
plotly==5.24.1
pymysql==1.1.1
pyopenssl==24.3.0
pysocks==1.7.1
pyspark==3.5.1
python-decouple==3.8
python-math==0.0.1
pytube==15.0.0
pytubefix==8.4.0
pywavelets==1.7.0
scikit-image==0.24.0
seaborn==0.13.2
selenium==4.19.0
service-identity==24.2.0
spyder-kernels==2.5.2
statsmodels==0.14.4
streamlit==1.40.0
tabulate==0.9.0
torchaudio==2.5.1
torchvision==0.20.1
typing==3.7.4.3
virtualenv==20.28.0
waitress==3.0.0
whisper==1.1.10
whitenoise==6.8.2
xml-python==0.4.3
yfinance==0.2.48
zope.interface==7.2
